# ==========================================
# SECRETS MANAGER (Back-up Keys)
# ==========================================
# Custom Key (Authorizer)
AUTH_SECRET_ID=
# AWS Cloud Services
AWS_REGION_ID=ap-southeast-1
S3_BUCKET_NAME=
API_PRESIGNED_URL=
PRESIGNED_URL_EXPIRES=300
DYNAMODB_TABLE_NAME=
SQS_QUEUE_URL=

# UpStash (Redis)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# MongoDB URI Connection
MONGODB_URI=

# Groq AI
AI_API_KEYS=

# Resend Email API
RESEND_API_KEY=

# Nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=