# Dependencies
node_modules/
**/node_modules/

# Build artifacts
dist/
build/
*.zip

# Cloud/Infrastructure
.aws-sam/
.vercel/

# Sensitive info
.env
.env.*

# Standard ignores
package-lock.json
public/